// util
@import './utils/variables';
@import './utils/placeholder';
@import './utils/visually-hidden';

// base
@import './base/common';
@import './base/reset';

// LAYOUT
@import './layout/header';
@import './layout/project-grid';
@import './layout/order-section';
@import './layout/advantages';
@import './layout/what-we-do';
@import './layout/our-team';
@import './layout/partners';
@import './layout/footer';

//components
@import './components/btn-submit';
@import './components/modal-form-checkbox-policy';
@import './components/modal-form-inputs';
@import './components/modal-form';
@import './components/modal';
@import './components/filter-projects';
@import './components/footer-subscribe-form';
@import './components/media-buttons-footer';
@import './components/media-buttons';
@import './components/portfolio-header';