.projects {
    @extend %section;
    @extend %list;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 0;

    @media (max-width:1199px) {
      margin-top: 30px;
    }

    @media (max-width:768px) {
      margin-top: 40px;
      display: block;
    }
  }
  
  .projects_item {
    display: block;
    transition: box-shadow var(--transition-timing);
    width: auto;

  &:not(:last-child) {
    @media (max-width:768px) {
      margin-bottom: 30px;
    }
  }
    
        &:hover,
        &:focus-within {
          box-shadow: var(--project-hover-shadow);
        }
    
      &-link {
        @extend %link;

        @media (max-width: 767px) {
          max-height: 440px;
          }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
          display: flex;
          flex-direction: column;
          height: 100%;
         }
      }

      &-link:hover .projects_item-overlay,
      &-link:focus .projects_item-overlay {
        transform: translatey(-100%);
    }
    &-link:active .projects_item-overlay {
      @media (max-width: 1199px) {
      transform: translatey(-100%);
    }
  }
  
      &-image {
        position: relative;
        overflow: hidden;
    }
  
      &-overlay {
        position: absolute;
        transform: translatey(0);
        width: 100%;
        max-height: 370px;
        padding: 63px 24px;
        background-color: var(--porfolio-card-overlay);
        transition: transform var(--transition-timing);

        @media (max-width: 768px) {
          min-height: 294px;
          padding-top: 77px;
          padding-bottom: 77px;
        }

        @media (max-width: 1199px) {
          padding-top: 49px;
          padding-bottom: 77px;
        }

        @media (max-width: 479px) {
          padding-top: 80px;
          padding-bottom: 50px;
        }
  
      &-info {
        color: var(--main-color);
        font-size: var(--font-project-overlay);
        line-height: var(--line-h-project-overlay-info);
        }
    } 
  
      &-info {
        border-left: var(--border-project-card);
        border-right: var(--border-project-card);
        border-bottom: var(--border-project-card);
        padding: 20px 24px;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
          flex-grow: 1;
          max-width: 354px;
          }
        

      }
  
      &-name {
        font-weight: var(--font-name-section);
        font-size: var(--font-project-overlay);
        line-height: var(--line-h-project-name);
        letter-spacing: var(--letter-spacing-big);
        margin-bottom: 4px;
      }
  
      &-type {
        font-size: var( --font-team-name);
        color: var(--text-gray-color);
        line-height: var(--line-h-btn-submit);
      }
  }