.filter-list {
    @extend %section;
    @extend %list;
    @extend %input;
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-bottom: 0;
  
  &_item {
    @extend %input;
    cursor: pointer;
    background-color: var(--button-background);
    color: var(--main-text-color);
    font-weight: var(--font-weight-500);
    font-size: var(--font-team-name);
    line-height: var(--line-h-filter-list-item);
    letter-spacing: var( --letter-spacing-common);
    border: 0px;
    border-radius: 4px;
    font-family: var(--font-family-main);
    padding: 6px 22px;
    transition: color var(--transition-timing), background-color var(--transition-timing), box-shadow var(--transition-timing);
  
      &:hover,
      &:focus {
        border: none;
        border-radius: 4px;
        background-color: var(--blue-color);
        color: var(--main-color);
        box-shadow: var(--portfolio-filter-shadow);
      }
  }
}