.footer_media-links {
    margin-left: 70px;
  }
  
  .footer_media-links-title {
    @extend %media-links-title;
  }
  
  .link-media-footer {
    @extend %icon-link;
    @extend %link-media;
    background-color: var(--background-color-icons);
    color: var(--main-color);

    &:hover,
    &:focus {
        color: var(--main-color);
        background: var(--blue-color);
      }
  }
  
  .footer-icons {
    @extend %list;
    display: flex;
    gap: 10px;
  }