.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  .overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    z-index: 20;
    transition:
    visibility var(--transition-timing),
    opacity var(--transition-timing);
 }
  
  .modal {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    padding: 50px;
    background-color: var(--main-color);
    max-width: 528px;
    max-height: 581px;
    padding: 40px;
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    transition:
    visibility var(--transition-timing),
    opacity var(--transition-timing);
 }
  
 .modal.active,
 .overlay.active{
    opacity: 1;
    visibility: visible;
 }
  
  .modal_btn-close {
    @extend %input;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: var(--logo-studio-color);
    background-color: var(--main-color);
    border: var(--border-modal-btn);
    border-radius: 50%;
    padding: 6px;
    top: 8px;
    right: 8px;
    transition: color var(--transition-timing), background-color var(--transition-timing);
  }

  .modal_btn-close:hover,
  .modal_btn-close:focus {
    color: var(--main-color);
    background-color: var(--blue-color);
  }

  .modal_icon-close-window {
    fill: currentColor;
    min-width: 18px;
  }